.wc_payment_methods [class*="payment_method_payrexx"] img {
    margin-left: 10px;
    max-height: 30px;
    max-width: 32px;
    vertical-align: middle;
}

.wc_payment_methods .payment_method_payrexx_heidipay img {
    max-width: 75px;
}

img#payrexx-heidipay,
img#payrexx-powerpay {
    max-width: 75px;
}

.wc-block-components-radio-control__label img[id^="payrexx"] {
    display: inline-flex;
    margin-right: 8px;
}
